APP_NAME="Ma’had Aly Situbondo"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning
DB_CONNECTION=sqlite
SESSION_DRIVER=database
SESSION_COOKIE=mahad_local_session
SESSION_SECURE_COOKIE=false
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
MEDIA_NOINDEX=true
MEDIA_DEMO=true
MAIL_MAILER=log
